<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>796583590652-iqa5jd026qbh9tivs92uf8jvbmskhtd3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.796583590652-iqa5jd026qbh9tivs92uf8jvbmskhtd3</string>
	<key>API_KEY</key>
	<string>AIzaSyAmd8AGw3f6cnDvWQo979EMYX0n1SZAsXo</string>
	<key>GCM_SENDER_ID</key>
	<string>796583590652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.carRentApp</string>
	<key>PROJECT_ID</key>
	<string>km-rentals</string>
	<key>STORAGE_BUCKET</key>
	<string>km-rentals.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796583590652:ios:1e2eac7be3200e79243579</string>
</dict>
</plist>